In [6]:
import pandas as pd
import numpy as np
import os

In [22]:
#Files to load
school_csv= os.path.join("Resources" , "schools_complete.csv")
student_csv= os.path.join("Resources" , "students_complete.csv")

#Import csvs as dataframes
school_df= pd.read_csv(school_csv)
student_df= pd.read_csv(student_csv)

school_df.shape
student_df["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [24]:
school_df["school_name"].value_counts()

Huang High School        1
Figueroa High School     1
Shelton High School      1
Hernandez High School    1
Griffin High School      1
Wilson High School       1
Cabrera High School      1
Bailey High School       1
Holden High School       1
Pena High School         1
Wright High School       1
Rodriguez High School    1
Johnson High School      1
Ford High School         1
Thomas High School       1
Name: school_name, dtype: int64